@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  scroll-behavior: smooth;
}

header {
  display: flex;
  position: sticky;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 90;
  top: 0;
  padding: 0px 10px 0px 10px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);

  & .title,
  .navbar {
    flex-grow: 1;
  }

  & .title {
    font-size: 1.5em;
    text-align: center;
    width: auto;

    & h1 span:first-child {
      color: white;
    }

    & h1 span:last-child {
      color: #1eff00;
    }
  }

  & .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7.5px;

    & a {
      background-color: transparent;
      font-size: 1.1em;
      border: none;
      padding: 10px 20px;
      color: white;
      display: flex;
      position: relative;
      gap: 5px;
      cursor: pointer;
    }

    & a::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: white;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }

    & a:hover::after {
      transform: scaleX(0.8);
    }
  }
}

main {
  & .images {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    filter: contrast(120%) saturate(0%);

    & img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: 0 100%;
    }
  }

  & .mid {
    display: flex;
    flex-direction: column;
    height: 92vh;

    & .text-mid {
      position: absolute;
      text-align: center;
      font-size: 1.5em;
      color: white;
      margin: 20px;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

      & h2 span {
        color: #1eff00;
      }
    }
  }

  & .service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 65vh;
    background: #131313;

    & div {
      text-align: center;
      margin: 100px 5px 0px 5px;
      padding: 5px;
      width: 20%;
      height: 40vh;
      border: 1px solid white;
      border-radius: 3px;
      transition: all 0.2s ease;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.13);
      color: white;
    }

    & div:hover {
      background-color: #51ff00;
      color: black;
    }

    & div:hover i {
      color: black;
    }

    & i {
      font-size: 50px;
      color: #1eff00;
      margin: 20px 0px 20px 0px;
      transition: all 0.2s ease;
    }

    & h2 {
      margin-bottom: 20px;
    }
  }

  & .new-cars {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    background: #0f0f0f;

    & .text {
      padding: 2rem;
      text-align: center;
      color: white;
      font-size: 1.3rem;

      & span {
        color: #1eff00;
      }
    }

    & .container {
      padding: 5px;

      & .slider-wrapper {
        position: relative;
        max-width: 48rem;
        outline: 1px solid white;
        margin: 0 auto;

        & .slider {
          display: flex;
          aspect-ratio: 16/9;
          overflow: hidden;
          scroll-behavior: smooth;
          box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);

          & img {
            flex: 1 0 100%;
            scroll-snap-align: start;
            object-fit: cover;
          }
        }

        & .slider-nav {
          position: absolute;
          display: flex;
          column-gap: 1rem;
          bottom: 1.25rem;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;

          & a {
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: 0.75;
            transition: opacity 250ms ease;
          }

          & a:hover {
            opacity: 1;
          }
        }
      }

      & .details {
        text-align: center;
        margin-top: 35px;
        width: 100%;

        & button {
          padding: 5px 20px;
          border-radius: 5px;
          border: none;
          box-shadow: 4px 4px rgba(255, 255, 255, 0.5);
          background-color: #6eff6e;
          color: black;
          font-weight: 500;
        }

        & button:hover {
          background-color: #1eff00;
        }

        & button:active {
          transform: translate(4px, 4px);
          box-shadow: 0px 0px rgba(255, 255, 255, 0.5);
          transition: 100ms;
        }
      }
    }
  }

  & .featured-cars {
    background: #131313;
    width: 100%;
    height: 90vh;

    & .container {
      display: flex;
      flex-direction: column;

      & .text {
        padding: 2rem;
        text-align: center;
        font-size: 1.3rem;
        color: white;

        & span {
          color: #1eff00;
        }
      }

      & .rows {
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: center;

        & .items {
          display: flex;
          flex-direction: column;
          margin: 0px 20px 0px 20px;

          & .foto {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            width: 35vh;
            padding: 20px;
            border: 1px solid white;
            box-shadow: 4px 0px rgba(255, 255, 255, 0.5);
          }

          & .car-name {
            text-align: center;
            margin-top: 10px;
            padding: 5px;
            color: white;
            border: 1px solid white;
            box-shadow: 4px 4px rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

footer {
  background-color: #ffffff;
  padding: 70px 0;

  .footer-container {
    max-width: 1170px;
    margin: auto;

    .row {
      display: flex;
      flex-wrap: wrap;

      ul {
        list-style: none;
      }

      .footer-col {
        width: 25%;
        padding: 0 15px;

        h4 {
          font-size: 18px;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
          color: #000000;
        }
        
        h4::before {
          content: "";
          position: absolute;
          width: 50px;
          height: 2px;
          left: 0;
          bottom: -10px;
          box-sizing: border-box;
          background-color: #000000;
        }
      }

      .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
      }

      .footer-col ul li a {
        display: block;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        color: #000000;
        color: #000000;
        transition: all 0.3s ease;
      }

      .footer-col ul li a:hover {
        color: #0dda29;
        padding-left: 8px;
      }

      .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #000000;
        background-color: rgba(5, 255, 67, 0.596);
        transition: all 0.5s ease;
      }

      .social-links a:hover {
        color: #0dda29;
        background-color: #000000;
      }
    }
  }
}
